/*#region sideBar*/
nav.sideNav{
    display: none;
    z-index: 999;
}
.webTitle{
    color: rgb(158, 170, 175);
    margin: 1.2rem;
}   
    .webTitle > a > h3{
        font-size: 2rem;
        font-weight: 800;
    } .webTitle > a > p{
        font-weight: 500;
        font-size: 1rem;
        margin-left: 4rem;
        margin-top: -0.3rem;
    }
.sideBarContainer{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 30%;
    min-width: fit-content;
    padding: 5px;
    background-color: rgba(245, 245, 245, 0.623);
    backdrop-filter: blur(8px);
}
ul.sideBar{
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}
    .sideBar li, .sideBar a{
        width: 100%;
        line-height: 2.5rem;
        padding: 3px;
        padding-left: 1rem;
        display: block;
    }.sideBarLst:hover, .sideBar a:hover{
        width: 100%;
        background-color: #d6d6d6;
        border-radius: 2px;
        transition: background-color 0.3s ease;
    }
.sideBarContainer .social-icons{
    margin-top: 0.5rem;
    margin-left: 1.7rem;
}  
.sideBarSocialIcon{
    border: none;
    color: #606060;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: transparent;
    cursor: pointer;
    opacity: 0;
    transition: opacity 2s ease;
}   .sideBarSocialIcon:nth-child(2){
    transition-delay: 0.3s;
}   .sideBarSocialIcon:nth-child(3){
    transition-delay: 0.6s;
}

.sidebarIconAnimate{
    opacity: 1;
} 

.confirmCopyBox{
    width: fit-content;
    height: fit-content;
    white-space: nowrap;
    padding: 0.2rem 0.2rem 0.3rem;
    position: absolute;
    border: 1px solid lime;
    border-radius: 10px;
    background-color: white;
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    opacity: 0;
    z-index: 99;
}   
    .confirmCopyBoxFade{
        animation: fade 2s ease forwards;
    }  
    .checkIcon{
        background-color: lime;
        border-radius: 50%;
        color: white;
        font-size: 1.4rem;
        margin-left: 5px;
    }
    @keyframes fade{
        45%{ opacity: 1;}
    }

@media screen and (min-width: 576px){
    .webTitle{
        margin:1.2rem;
    }
    .webTitle > h3{
        font-size: 2rem;
    }
    .webTitle > p{
        font-size: 1rem;
        margin-left: 4rem;
    }
}

@media screen and (min-width: 1000px){
    /*#region SideBar*/
        nav.sideNav{
            display: flex;
            flex-direction: column;
            height: 100%;
            width: 25%;
        }   .webTitle > a > h3{
                color: #606060;
                font-size: 2.5rem;
            } .webTitle > a > p{
                color: white;
                font-size: 1.2rem;
                margin-top: 5px;
            }
            .sideBarContainer{
                background-color: rgb(127, 179, 247);
                left: 0;
                width: 25%;
                display: flex;
                flex-direction: column;
                gap: 25px;
            } .sideBar{
                width: 25%;
                backdrop-filter: none;
            } .sideBar a{
                color: white;
                font-size: 1.5rem;
                padding-left: 1rem;
            } #closeBtn{
                display: none;
            } 
            .sideNav .social-icons{
                display: block;
            }
/*#endregion SideBar*/
}