*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --BGBLUE: rgb(127, 179, 247);
    --BGGRAY: #e9e7e7; 
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
a, li{
    text-decoration: none;
    cursor: pointer;
    color: var(--BGBLUE);
    list-style: none;
    line-height: 1.5rem;
    white-space: nowrap;
}
button{
    cursor: pointer;
}
nav > a{
    height: 100%;
}

header{
    display: none;
}
nav.topNav{
    width: 100%;
    height: 80px;
}

.menuIconBtn{
    position: absolute;
    top: 15px;
    right: 20px;
    color: var(--BGBLUE);
    background-color: transparent;
    border: none;
}   .menuBtn{
        font-size: 5rem;
        transform: scale(1.3);
}
    .menuBtn:hover, span.closeBtn:hover{
        background-color: rgba(234, 236, 236, 0.719);
        box-shadow: 3px 2px 2px #c5c5c5ce;
        border-radius: 45%;
        padding: 2px;
    }

   
    
/* --------------------------------------------- */

main, .mainContent{
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about, .projectBG, .contact, footer{
    background-color: #e9e7e7;
}

/*------------------ ICONS ---------------------------*/


.top .social-icons, .sideBarContainer .social-icons{
    display: flex;
    gap: 5px;
    align-items: center;
    z-index: 2;
}   .sideBarContainer .social-icons{
        margin-left: 2rem;
    }
    .social-icon, .sideBarSocialIcon{
        border: none;
        color: #606060;
        font-size: 1.5rem;
        font-weight: 400;
        background-color: transparent;
        cursor: pointer;
    }   
    .sidebarIconAnimate{
        animation: IconMovement 1.3s linear 1 forwards alternate;
    }

    .iconAnimate{
        animation: IconMovement 1.3s linear 1 forwards alternate;
        opacity: 0;
    } 
    .iconAnimate:nth-child(2){
        animation-delay: 0.5s;
        opacity: 0;
    } .iconAnimate:nth-child(3){
        animation-delay: 1s;
        opacity: 0;
    } .iconAnimate:nth-child(4){
        animation-delay: 1.5s;
        opacity: 0;
    }
    
    .resumeBtn{
        width: 95px;
        padding: 0.8rem;
        margin-left: 1rem;
        border: none;
        border-radius: 8px;
        box-shadow: 0 5px rgb(100, 166, 252);
        background-color: var(--BGBLUE);
        color: white;
        font-size: 1.1rem;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        outline: none;
        opacity: 0;
        animation: 2.2s resumeBtnAnimate 2s ease forwards;
    } .resumeBtn:active{
        box-shadow: none;
        transform: translateY(5px);
    }   .resumeBtn:hover{
        opacity: 0.8;
    } 
    @keyframes resumeBtnAnimate{
       100%{opacity: 1;}
    }

    @keyframes IconMovement{
        0%{
            transform: translate(-100px, -90px);
            opacity: 0;
        } 
        20%{
            transform: translate(-70px, 0px);
        }
        40%{
            transform: translate(-50px, -50px);
          }
        60%{
            transform: translate(-30px, 0px);
        }
        80% {
            transform: translate(-10px, -25px);
          }
        100% {
            transform: translate(0);
            opacity: 1;
        }
    }
    
/*---------------------------------------------*/

.top{
    width: 100%;
    max-width: 100vw;
    min-height: 500px;
    border-radius: 10px;
    padding: 3rem 2.5rem;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
/*#region topImg*/
    .squares{
        position: absolute;
        top: -2rem;
        right: 3rem;
        width: 350px;
        height: 350px;
        display: grid;
        grid-template: repeat(4, 150px)/repeat(1, 160px);
    }
    .square{
            background-color: rgb(128, 188, 190);
            opacity: 0.7;
            border-radius: 7px;
            box-shadow: 5px 2px 4px rgb(202, 206, 206);
            animation: 5s ease-in-out 1 alternate forwards;
        }
          .square:first-child, .square:nth-child(3){
                animation-name: topImgAnimation13;
             } @keyframes topImgAnimation13{
                0%{
                    transform: translateX(-400px);
                }
                33%{
                    transform: translateX(-50px) rotate(180deg);
                    background-color: var(--BGBLUE);
                }
                66%{
                    transform: translateX(600px) rotate(360deg);
                }
                100%{
                    transform: translateX(100px);
                    background-color: #e9e8e8;
                }
            }
          .square:nth-child(2), .square:nth-child(4){
                animation-name: topImgAnimation24;
                
             } @keyframes topImgAnimation24{
                0%{
                    transform: translateX(200px);
                }
                33%{
                    transform: translateX(-50px) rotate(-180deg);
                    background-color: var(--BGBLUE);
                }
                66%{
                    transform: translateX(-500px) rotate(-360deg);
                }
                100%{
                    transform: translateX(200px);
                    background-color: rgba(129, 207, 231, 0.849);
                }
            }
    /*#endregion topImg*/

    .ri-code-s-slash-line, .ri-computer-line{
        display: none;
    }
/*#region top Content & Text*/
    .topContent{
        width: 60%;
        height: 90%;
        padding: 2.5rem 1.5rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        position: absolute;
        left: 1rem;
        z-index: 1;
    }   
        .text{
            width: 100%;
            font-size: 2.3rem;
            color: var(--BGBLUE);
            visibility: visible;
            opacity: 0;
            transform: translateX(150px);
            transition: opacity 1.5s ease, transform 2.5s ease;
        } .topText p{
            font-size: 1.2rem;
            color: #606060;
            margin: 1rem 0;
        } .topText .text span{
            white-space: nowrap;
        }
        .text-transition {
            opacity: 1;
            transform: translateX(0);
        }
        @media (prefers-reduced-motion: no-preference) {
            .text{
            transition: opacity 2.5s ease, transform 2.5s ease;
            }
        }
   
/*#endregion top Content & Text*/
        
/*#region About------------------------------------------------------------*/
.about{
    height: auto;
    width: 100%;
    padding: 1.5rem 1rem 2rem;
}  
    .about h2{
        margin-bottom: 1rem;
        font-size: 1.7rem;
        color: #606060;
    }
    .aboutSec{
        margin-bottom: 0.6rem;
        margin-left: 1rem;
        max-width: 93%;
    }
   .aboutHeader{
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--BGBLUE);
        margin-bottom: 0.5rem;
    } .aboutHeader > span{
        font-size: 1.3rem;
    } 
    .aboutContent{
        font-size: 1.1rem;
        font-weight: 400;
        margin-left: 1rem;
        line-height: 1.4rem;
    } .aboutContent > span, .aboutContent > a{
        font-weight: bold;
        color: #606060;
        white-space: wrap;
    } 
    .aboutContent li{
        color: #000;
        cursor: auto;
    }
    .skillLst i{
        color: #606060;
        font-size: 1.1rem;
        margin-right: 7px;
    }
/*#endregion About------------------------------------------------------------*/
/*#region Projects*/
.projectBG{
    width: 100%;
    display: flex;
    justify-content: center;
    }.projectsSection{
        display: flex;
        flex-flow: column wrap;
        width: 95%;
        border: none;
        border-radius: 10px;
        background-color: var(--BGBLUE);
        padding: 2rem;
        padding-bottom: 60px;
        color: white;
    }.projectsSection > h2{
        font-size: 2rem;
        font-weight: 700;
        color: white;
        margin-bottom: 10px;
        }
        .projectBoxs{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            place-content: center;
            gap: 20px;
            margin-top: 10px;
        }
        .projectBox{
            border: 1px solid white;
            border-radius: 7px;
            height: 200px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: rgba(216, 240, 253, 0.397);
            box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(10px);
            opacity: 0;
            transform: translateY(-100px) scale(1.1);
            transition: opacity 1.5s ease, transform 2.5s ease;
        }   .projectBox-transition {
                opacity: 1;
                transform: translateY(0);
            }
            .projectBox > i{
                font-size: 1.5rem;
                border: 0.9px solid white;
                border-radius: 9px;
                padding: 0.7rem;
                width: fit-content;
            } .projectBox > a{
                font-size: 1.3rem;
                font-weight: 600;
                color:rgb(67, 178, 252);
                cursor: pointer;
            }
/*#endregion projects*/

/*#region contact*/
.contact{
    width: 100%;
    min-height: 350px;
    padding: 1.5rem 1.5rem 2rem;
    color: #606060;
}
.contact p{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: var(--BGBLUE);
}
.contact h2{
    font-size: 1.7rem;
    font-weight: 700;
}
.contactLst{
    margin-left: 1rem;
    padding: 0.5rem 1rem;
}
.contactLst li{
    line-height: 2rem;
    font-weight: 600;
    cursor: auto;
}

.contactLst .social-icon{
    padding: 0 5px;
    cursor: auto;
}
/*#endregion contact*/

.copyrightBG{
    width: 100%;
    height: 50px;
    background-color: var(--BGBLUE);
    border-radius: 10px 10px 0 0 ;
}
.copyright{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.mainBottom{
    display: none;
}
/*---------------------------------------------*/
footer{
    width: 100%;
}



@media screen and (min-width: 1000px){
    main{
        flex-flow: row nowrap;
        position: relative;
    }
    header, nav.topNav{
        display: none;
    }
    .mainContent{
        width: 75%;
    }
    
/*#region topImgAnimation*/

    .topImg{
        transform: scale(1.9, 1.5);
    }
    
    .square:first-child, .square:nth-child(3){
        animation-name: topImgAnimation13;
     } @keyframes topImgAnimation13{
        0%{
            transform: translateX(-400px);
        }
        33%{
            transform: translateX(-50px) rotate(180deg);
            background-color: var(--BGBLUE);
        }
        66%{
            transform: translateX(600px) rotate(360deg);
        }
        100%{
            transform: translateX(100px);
            background-color: #c9c8c8;
        }
    }
    .square:nth-child(2), .square:nth-child(4){
            animation-name: topImgAnimation24;
            
        } @keyframes topImgAnimation24{
            0%{
                transform: translateX(200px);
            }
            33%{
                transform: translateX(-50px) rotate(-180deg);
                background-color: var(--BGBLUE);
            }
            66%{
                transform: translateX(-500px) rotate(-360deg);
            }
            100%{
                transform: translateX(100px);
                background-color: rgba(129, 207, 231, 0.849);;
            }
        }

    .projectBoxs{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        gap: 10px;
    }
    .mainBottom{
        display: block;
    }
    footer{
        display: none;
    }

}

@media screen and (min-width: 576px){
    header{
        display: block;
    }
    button.menuIconBtn{
        display: none;
    }
    .projectBoxs{
        grid-template-columns: repeat(2, 1fr);
    }
    /*#region topImg*/
    .topImg{
        transform: scale(1.75, 1.5);
        transition: transform 3.5s ease-in-out;
    }
        .squares{
                width: 400px;
                height: 400px;
                display: grid;
                grid-template-columns: repeat(2, 180px);
                grid-template-rows: repeat(2, 180px);
                place-content: center;
                right: -2rem;
                top: 0;
                gap: 5px;
                position: relative;
            }
        
            .computerShape{
                position: absolute;
                width: 270px;
                height: fit-content;
                top: 15%;
                left: 43%;
                background-color: transparent;
                color: white;
                /* color: rgb(160, 199, 250); */
                font-size: 14rem;
                font-weight: 300;
                text-align: center;
                /* padding-top: 2rem; */
                border-radius: 7px;
                border: 9px double white;
                animation: computerShapeAnimation 3s linear 1 alternate forwards;
            }   .ri-code-s-slash-line, .ri-computer-line{
                display: block;
            }
                .ri-code-s-slash-line{
                    font-size: 6rem;
                    font-weight: 800;
                    position: absolute;
                    top: 20%;
                    left: 30%;
                    color: var(--BGBLUE);
            }
                @keyframes computerShapeAnimation {
                    0%{
                        transform: scale(0) rotate(180deg);
                    }
                    100%{
                        transform: scale(1) rotate(360deg);
                    }
                }
            .square{
                background-color: cadetblue;
                opacity: 0.7;
                border-radius: 7px;
                animation-duration: 4s;
            }
        /*#region square child and animation*/
              .square:first-child, .square:nth-child(3){
                    animation-name: topImgAnimation13;
                 } @keyframes topImgAnimation13{
                    0%{
                        transform: translateX(-500px);
                    }
                    33%{
                        transform: translateX(-50px) rotate(180deg);
                        background-color: var(--BGBLUE);
                    }
                    66%{
                        transform: translateX(600px) rotate(360deg);
                    }
                    100%{
                        transform: translateX(100px);
                        background-color: #c9c8c8;
                    }
                }
              .square:nth-child(2), .square:nth-child(4){
                    animation-name: topImgAnimation24;
                    
                 } @keyframes topImgAnimation24{
                    0%{
                        transform: translateX(320px);
                    }
                    33%{
                        transform: translateX(-50px) rotate(-180deg);
                        background-color: var(--BGBLUE);
                    }
                    66%{
                        transform: translateX(-600px) rotate(-360deg);
                    }
                    100%{
                        transform: translateX(100px);
                        background-color: rgba(129, 207, 231, 0.849);;
                    }
                }
        /*#endregion  square child and animation*/
    /*#endregion topImg*/
    
}