
/*#region top navBar*/
img#navImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 5px;
}
img#navImg:hover{
    background-color: #dbdbdbc9;
}

ul.topNav-ul{
    display: none;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    
    font-size: 1.2rem;
    font-weight: 600;
    list-style: none;
    line-height: 1.5rem;
    white-space: nowrap;
    margin: 10px auto;
    border-radius: 20px;
    box-shadow: 5px 3px 4px #e9e7e7;
    overflow: hidden;
}
    ul.topNav-ul li, ul.topNav-ul a{
        padding: 0.7rem 0.5rem;
        color: #7fb3f7;
        transition: 0.4s background-color ease, 0.4s border-radius ease;
    }
    ul.topNav-ul li:hover, ul.topNav-ul li:focus, ul.topNav-ul li:active{
        background-color: #dbdbdbc9;
        border-radius: 5px;
    }

    ul.topNav-ul li.imgAddr:hover{
        background-color: transparent;
    }
    span.topNavBarMenuBtn{
        margin-top: 5px;
    }

    

/*#endregion top navBar*/

@media screen and (min-width: 1000px){
    nav.topNav{
        display: none;
    }
}

@media screen and (min-width: 576px){
    ul.topNav-ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }    
}