
/*#region top navBar*/
img#navImg{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    padding: 5px;
}
img#navImg:hover{
    background-color: #dbdbdbc9;
}

a, li{
    text-decoration: none;
    cursor: pointer;
    color: var(--BGBLUE);
    list-style: none;
    line-height: 1.5rem;
    white-space: nowrap;
}

nav > ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1.3rem;
}
    ul.topNavBar{
        display: none;
        width: 80%;
        min-width: fit-content;
        height: 60px;
        background-color: whitesmoke;
        justify-content: space-evenly;
        align-items: center;
        margin: 10px auto;
        border-radius: 20px;
        box-shadow: 5px 3px 4px #e9e7e7;
        overflow: hidden;
    }
        ul.topNavBar a{
            padding: 0.7rem 0.5rem;
        }
        ul.topNavBar a:hover, nav.topNav span:hover{
            background-color: #dbdbdbc9;
            border-radius: 5px;
        } .sidebarBtn > a:hover{
            background-color: transparent;
            } 
        ul.topNavBar a.imgAddr:hover{
            background-color: transparent;
        }
        span.topNavBarMenuBtn{
            padding: 0.5rem ;
        }
    

/*#endregion top navBar*/

@media screen and (min-width: 1000px){
    nav.topNav{
        display: none;
    }
}

@media screen and (min-width: 576px){
    ul.topNavBar{
        display: flex;
    }    
}