*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --BGBLUE: #7fb3f7;
    --BGGRAY: #e9e7e7;
}
a, li{
    color: #606060;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    line-height: 1.5rem;
    white-space: nowrap;
}

/* li::marker{
    content: "";
} */


main{
    background-color: lightgray;
    width: min(100%, 100dvw);
    overflow: hidden;
}

h1{
    font-size: 2rem;
    color: #606060;
}
.projectsContainer{
    padding: 1rem 1rem 1.2rem;
    border-radius: 10px;
    background-color: rgba(127, 179, 247, 0.774);
    background: radial-gradient(lightgray, rgba(127, 179, 247, 0.774) 70%);
    opacity: 1;
    position: relative;
}

.heading{
    display: flex;
    justify-content: space-between;
    padding: 0.3rem;
    position: relative;
}

.menuIconBtn{
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: none;
    font-size: 2rem;
}.menuBtn:hover{
    background-color: rgba(234, 236, 236, 0.719);
    box-shadow: 3px 2px 2px #c5c5c5ce;
    border-radius: 50%;
    padding: 0.5rem;
}
.projects{
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(1, 1fr);
    gap: 1.2rem;
    /* width: 100%; */
    padding: 1rem;
    margin-top: 1.2rem;
    border-radius: 10px;
}
.project{
    border: 1px solid rgba(255, 255, 255, 0.781);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}   
    .project:hover{
        opacity: 0.7;
        box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.842);
    }

.projectTitle a{
    color: #606060;
}
.projectDetail{
    margin: 10px 0;
    font-weight: 500;
}

.projectImgBox{
    width: 95%;
    height: 200px;
    max-height: 200px;
    border: 2px solid white;
    justify-self: end;
    border-radius: 6px;
    overflow: hidden;
}   .projectImg{
        width: 100%;
        height: 100%;
    }
    .projectNote{
        transform-origin: 30px 30px;
    }
    .projectImg:hover{
        transform: scale(1.2);
        transition: transform 1.2s ease;
    }   
   

.detailWindow{
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    /* top: 50%; */
    left: 50%;
    /* transform: translate(-50%, -50%); */
    transform: translate(-50%, 12%);
    width: 75%;
    height: min(75%, 650px);
    padding: 1.1rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid #5f7e88;
    border-radius: 7px;
    background-color: rgba(240, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    
    opacity: 0;
    visibility: hidden;
    display: none;
    flex-direction: column;
    gap: 1rem;
    color: #606060;
}

.detailWindow.visible{
    opacity: 1;
    visibility: visible;
    display: flex;
    animation: 0.5s detailWindowAnimation 0.1s ease forwards;
}

.detailWindow::-webkit-scrollbar{
    display: none;
}

@keyframes detailWindowAnimation{
    from{
        opacity: 0;
        visibility: hidden;
        display: none;
    } to{
        opacity: 1;
        visibility: visible;
        display: flex;
    }
}

.detailWindow .projectTitle i{
    cursor: pointer;
}
.detailWindow .projectTitle i:hover, .detailWindow .projectTitle i:active{
    color: var(--BGBLUE);
    transition: 0.35s color ease;
}
.detailWindow > ul.projectDetail li{
    cursor: default;
    list-style: circle;
    margin-left: 1rem;
}
.detailWindow img{
    border: 2px solid lightblue;
    border-radius: 5px;
}


.detailWindow .closeBtn{
    font-size: 1.1rem;
    font-weight: 700;
    color: #606060;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 5px 7px;
    width: 2rem;
    margin-left: 95%;
    text-align: center;
}
.detailWindow .closeBtn:hover, .detailWindow .closeBtn:focus{
    cursor: pointer;
    color: #f54141;
    border: 1px solid #f54141;
    transition: 0.5s color ease, 0.4s border ease;
}

.detailWindow div{
    border-top: 1px solid #979797;
    padding: 1rem;
}
.detailWindow p{
    color: #5f7e88;
}

.detailWindow p strong{
    color: #606060;
    font-weight: 700;
    font-size: 1.3rem;
}

.ri-add-large-line{
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin: 1rem;
}
.copyrightBG{
    width: 100%;
    height: 50px;
    background-color: var(--BGBLUE);
    border-radius: 10px 10px 0 0 ;
}
.copyright{
    color: white;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.mainBottom{
    display: none;
}
footer{
    width: 100%;
}

@media screen and (min-width: 576px){
    .projects{
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }
    .menuIconBtn{
        display: none;
    }
    header{
        width: 80%;
        margin: auto;
    }
    
}
@media screen and (min-width: 780px){
    .detailWindow{
        width: 70%;
        height: min(85%, 680px);
        transform: translate(-50%, 10%);
    }
}
@media screen and (min-width: 1000px){
    main{
        display: grid;
        grid-template-columns: 25% 73%;
        place-content: center space-between;
        gap: 0.3rem;
    }
    .projectsContainer{
        width: clamp(700px, 100%, 900px);
        margin: 1.8rem 1rem 1.5rem 0;
    }
    .detailWindow{
        width: 59%;
        height: min(88%, 700px);
        transform: translate(-30%, 8%);
    }
    footer{
        display: none;
    }
}